@import "style.css";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/jira_tracker_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Courier, sans-serif;
    padding: 15px;
}

.connection-container {
    width: 600px;
    max-width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .7);
    padding: 0 60px 30px 60px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.form-container {
    margin-top: 30px;
}
